body {
    background-color: #232226;
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

#canvas-wrapper {
  width:100%;
  height: 100%;
  text-align: center;
}

#canvas {
  padding-top: 30px;
}
