/*
Colors:
snek:
drop:
background: rgb(35, 34, 38);
empty:  rgb(66, 66, 66);
text: rgb(87, 85, 85);
 */

body {
    background-color: #232226;
    /*no select*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

#canvas-wrapper {
  width:100%;
  /*height: 100%;*/
  text-align: center;
}

#ui-board-wrapper {
  width:100%;
  text-align: center;
}

#ui-board {
  display: inline-block;
  min-height: 100px;
  background-color: rgb(66, 66, 66);
  width: 95vw;
  box-shadow: 0px 2px 2px 2px #000000;
  max-width: 485;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.snek-logo {
  width: 100%;
  max-width: 165px;
  padding-top: 8px;
}

.btn {
  width: 75px;
  height: 87px;
  margin: 10px 2px 0px 2px;
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABXCAMAAAB7hEg4AAAA7VBMVEUAAAAAAAAAAAA/Pz8zMzM4ODgzMzMuLi46Ojo2NjZDQ0M8PDw9PT07OztBQUE/Pz8/Pz9BQUFAQEA/Pz9BQUFAQEBBQUFAQEA+Pj4/Pz9BQUFBQUFCQkJBQUE/Pz9CQkJBQUFBQUFAQEBBQUFAQEBCQkJBQUFAQEBAQEBCQkJBQUFBQUFBQUFAQEBAQEBBQUFBQUFCQkJAQEBBQUFCQkJBQUFBQUFBQUFBQUFCQkJBQUFBQUFBQUFAQEBBQUFCQkJBQUFCQkJBQUFBQUFBQUFBQUFCQkJBQUFBQUFBQUFCQkJBQUFBQUFCQkL///8YgERdAAAATXRSTlMAAQMEBQkKCw0OExUdHiMkLC83OD4/RkdJUFZZYGJoaGlxc3l6f4GDiouMk5WWmpykpqmsrbO2vr/FztHX2N/g5+fo6e/w8/T4+fv8/otfYJwAAAFUSURBVHja7dnXVsJAEMbxpYi0KCCioSglKIpClF4SsYSaef/X8ejRA0rbZMbjzfwf4He3F/OtkCiUf8yHBEUetbmARVP14KlE9Q0+sqoJpKRoQ/huqCkI6SDXhdW6uUO31Jk+g5/NHs5dSfGbZ1jv9TbuWIoUB7C5QTHiSPJn2jZsy25n/PJUsj6BXU3qp5LS0ZUJ+3q6PpaQghc9kKl3GdwjedXGHOSaN1TvzgdzZ4F81v3JVilaMsBZRim6UQpkO+C8TjawTqX0Kbhpqqd+SbHKCNw2qsRWpHChD5j6hfCX5Eu3bEDWSvs+H0xtDPjGtaQQZRNoMstiSaExtthiiy222GKLLbbYYoutv7Yo7yHCO43wfiS9a+nvbfwOQL9P4HcT+j0HvzPR71/4XY5+L8TvmHT7qovd90Vy98Xv0fidHLXfG8sHoyn/+6+A/+/A/8O8A+6cuMwsrmoAAAAAAElFTkSuQmCC);
  -webkit-transition : -webkit-filter 200ms linear;
  transition: 200ms filter linear;
}

.btn > img {
    height: 50px;
    margin-top: 18px;
}

.btn:hover {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.btn:active {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  transform: translateY(4px);
}
